@import '../../components/variables.scss';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  max-width: $max-content-width;
  padding: 0 0 40px;
}

.title {
    font-size: 1.2em;
}

.stat {
  display: inline-block;

  & + .stat:before {
    padding: 0 10px;
    content: '|';
  }
}

.tabs {
  margin-top: 20px;
}

.submissionTable, .problemRecommendationTable, .rankTable {
    [class="panel-body"] {
        padding: 15px 0;
    }

    h2 {
        font-size: 1.8em;
        margin-top: 5px !important;
        margin-bottom: 0 !important;
    }
}
