.form-control::-webkit-input-placeholder {
   color: #b2dbfb;
}

.form-control:-moz-placeholder { /* Firefox 18- */
   color: #b2dbfb;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #b2dbfb;
}

.form-control:-ms-input-placeholder {
   color: #b2dbfb;
}

[class^="btn"] {
    border-radius: 0;
    transition: all 0.2s ease;

    &:focus {
        border-radius: 0;
        outline: 0;
    }
}

.form-control {
    border-radius: 0;

}

textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    border: 0;
    background-color: rgba(255,255,255,0.2);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.2);

    &:focus {
        background-color: #FFFFFF;
        box-shadow: inset 0 -2px 0 rgba(0,0,0,0.2);
    }

    transition: all 0.2s ease;
}

.navbar-brand {
    padding: 22.5px 15px;
    height: 64px;
}

.navbar-form {
    margin-top: 13.5px;
    margin-bottom: 13.5px;
}
